.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.gz
*.bz2
*.lzma
*.patch
*.gcno
*.bak
Module.markers
Module.symvers
!.gitignore
!.mailmap

patches-*
patches_*
patches
series

cscope.*
ncscope.*

*.orig
*~
\#*#
